*{
  margin: 0;
  padding: 0;
}

/* title style */
.title-container{
  text-align: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2) ;
}
.title{
  color:blue;
}

.title{
  padding: 0.5rem 0;
}