*{
  margin: 0;
  padding: 0;
}

/* title style */
.title-container{
  text-align: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2) ;
}
.title{
  color:blue;
}

.title{
  padding: 0.5rem 0;
}

/* main style */
.main{
  width: 70%;
  margin: 2rem auto;
}

/* Filter style */
.filter-container{
  margin: 3rem 1rem;
  text-align: end;
  margin: 3rem auto;
  width: 100%;
}
.filter{
  font-size: 1rem;
}
.filter label{
  font-size: 1.2rem;
  padding: 0.5rem 0.5rem ;
}
#launch-filter{
  font-size: 1rem;
  border:none;
  outline: none;
}

/* table style */
.table-container{
  width: 100%;
  margin: 2rem auto;
  border: 2px solid #d8e2dc;
  border-radius: 5px;
  box-shadow: 2px 0 5px #F4F5F7;
}
.table{
  width: 100%;
  border-collapse: collapse;
}
.table-header{
  background-color: #F4F5F7;
  color: grey;
  font-weight: 800;
}
.table-header th{
  padding: 1rem 0.5rem;
}

.table td{
  text-align: center;
  padding: 1rem 0.5rem;
  cursor: pointer;
  }
/* launch status style */
.false{
  background-color: #ff704d;
  color:#a50016
}

.true{
  background-color: #a7c957;
  color:#386641;
}
.status{
  font-size: 1rem;
  padding: 0.2rem 1rem;
  
  border:none;
  border-radius: 4px;
}
/* pagination style */
.pagination-container{
  
  margin-bottom: 3rem;
  display: flex;
  justify-content: flex-end;
  
}
.pagination{
  display: flex;
  list-style: none;
  border: 2px solid #d8e2dc;
  border-radius: 6px;
  
}

.page-button{
  color: black;
  padding: 0.5rem 0.5rem;
  border: none;
  background-color: white;
  border-left: 1px solid #d8e2dc;
  border-radius: 3px;
  cursor: pointer;
}

/* Loader style*/
.loader,
.loader:before,
.loader:after {
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: var(--primaryColor);
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}